html {
  background: ##091f2a;
  background-image: linear-gradient(351deg, #69b3d0 0%, #091f2a 100%);
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.4rem;
}

.form {
  background-color: #ddd;
  padding: 15px;
  max-width: 490px;
  margin: 1.5em auto;
  text-align: center;
  color: #333;
}

.form input {
  background-color: transparent;
  border: none;
  border-bottom: 3px dashed #999;
  display: inline;
  color: #111;
  text-align: center;
}

#amount {
  width: 180px;
}
#percent {
  width: 90px;
}
#value {
  color: #111;
  font-weight: bold;
}
.quot {
  font-size: 2.5rem;
  color: #000;
  font-family: Georgia;
  padding: 0.3rem;
}

.form p,
.form input {
  font-size: 2rem;
  line-height: 3.2rem;
}

#amount,
#percent,
#value {
  font-variant-numeric: tabular-nums;
}
